.mazeBackground {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: url('../../../assets/images/pw_maze_black_2X.png') 0 0 repeat;
}

.logo {
  max-width: 100%;
}
